# Mundo 19

### Limpeza e tratamento de dados

In [ ]:
import pandas as pd
import yfinance as yf

In [ ]:
dados_acoes = yf.download(["ABEV3.SA", "MGLU3.SA", "WEGE3.SA", "VALE3.SA"])['Close']

dados_acoes

In [ ]:
media_retornos_diarios = dados_acoes.pct_change().dropna().mean()

media_retornos_diarios

In [ ]:
#usando map pra transformar dados

dados_anuais = media_retornos_diarios.map(lambda x: (1 + x) ** 252 - 1)

dados_anuais

In [ ]:
dados_anuais = dados_anuais.to_frame()

dados_anuais

In [ ]:
dados_anuais = dados_anuais.reset_index()

dados_anuais.columns = ["nome_empresas", "retornos_anuais"]

dados_anuais

In [ ]:
dados_anuais['nome_empresas'] = dados_anuais['nome_empresas'].map(lambda x: x.lower())

dados_anuais

#sempre que você precisar aplicar uma função a uma coluna, utilize o map :)

# Exercícios 

Use o DF base do mundo 17 para:

* Exercício 70: Transforme todos os Nomes das empresas em letras minúsculas. 
* Exercício 71: Transforma a coluna de cotações para reais. Ex: 20 -> R$20

In [ ]:
#df_base

dicionario = {
       "nomes": ["Weg", "Petrobras", "Vale", "Petrobras", "Lojas Renner"],
       "tickers": ["WEGE3", "PETR3", "VALE3", "PETR4", "LREN3"],  
       "cotacoes": [20, 30, 40, 12, 35],
       "preco_sobre_lucro": [25, 6, 12, 7, 25],  
       "volume": [5000, 1000, 4000, 7000, 1200]
}

df_info_empresas = pd.DataFrame(dicionario)

df_info_empresas = df_info_empresas.set_index("tickers")

df_info_empresas.columns = ['nomes', 'precos', 'preco_sobre_lucro', 'volume']

df_info_empresas['lpa'] = df_info_empresas['precos'] / df_info_empresas['preco_sobre_lucro']

dolar = 5.25

df_info_empresas['precos_dolar'] = df_info_empresas['precos'] / dolar

df_info_empresas

In [ ]:
df_info_empresas = df_info_empresas['nomes'].map(lambda x: x.upper())

df_info_empresas

In [ ]:
#gabarito 70

df_info_empresas['nomes'] = df_info_empresas['nomes'].map(lambda x: x.lower())

df_info_empresas

In [ ]:
#gabarito 71 

df_info_empresas['precos'] = df_info_empresas['precos'].map(lambda x: "R$ " + str(x))

df_info_empresas

# Mundo 20

Pra finalizar nossa parte de limpeza e preparação dos dados, vamos falar de coisas muito importantes pra modelagem estatística: como separar nossos dados em dummys? Como separar nossos dados em quartis?