# Mundo 5
### Introdução ao Pandas

In [4]:
import pandas as pd

df_cambio = pd.DataFrame({
                        "moeda": ['dolar/real', 'libra/real'] * 4,
                        "price": [5.24, 4.15, 5.26, 4.23, 5.55, 4.02, 5.76, 3.98],
                        "derivativo": list(["DOLFT3", "LIBFT3"]) * 4},                    
                    index = sorted(list(pd.date_range("1/5/2014", periods = 4)) * 2))

df_cambio


#ferramentas loc, iloc, at, iat - LOC SERVE PARA PEGAR VARIOS ELEMENTOS DE UMA VEZ, ENQUANTO AT E IAT

#loc serve para localizar através de nomes

#um unico dia
print(df_cambio.loc['2014-01-05'])

#algum periodo
print(df_cambio.loc['2014-01-05':'2014-01-07'])

#um periodo sobre a informação preço
print(df_cambio.loc['2014-01-05':'2014-01-07', 'price'])

#um dia sobre a informação preço
print(df_cambio.loc['2014-01-05', 'price'])

#um dia sobre a informação preço e moeda
print(df_cambio.loc['2014-01-05', 'moeda':'price'])

#todos os dados da informação preço
df_cambio.loc[:, 'price']

           derivativo       moeda  price
2014-01-05     DOLFT3  dolar/real   5.24
2014-01-05     LIBFT3  libra/real   4.15
           derivativo       moeda  price
2014-01-05     DOLFT3  dolar/real   5.24
2014-01-05     LIBFT3  libra/real   4.15
2014-01-06     DOLFT3  dolar/real   5.26
2014-01-06     LIBFT3  libra/real   4.23
2014-01-07     DOLFT3  dolar/real   5.55
2014-01-07     LIBFT3  libra/real   4.02
2014-01-05    5.24
2014-01-05    4.15
2014-01-06    5.26
2014-01-06    4.23
2014-01-07    5.55
2014-01-07    4.02
Name: price, dtype: float64
2014-01-05    5.24
2014-01-05    4.15
Name: price, dtype: float64
                 moeda  price
2014-01-05  dolar/real   5.24
2014-01-05  libra/real   4.15

2014-01-05    5.24
2014-01-05    4.15
2014-01-06    5.26
2014-01-06    4.23
2014-01-07    5.55
2014-01-07    4.02
2014-01-08    5.76
2014-01-08    3.98
Name: price, dtype: float64

In [ ]:
#at é igual ao loc, só que serve pra localizar um único item. + otimizado

#df_cambio.at['2014-01-05']
df_cambio.at['2014-01-05', "price"] #mais otimizado que loc pra pegar uma linha e uma coluna

In [32]:
df_cambio

                 moeda  price derivativo
2014-01-05  dolar/real   5.24     DOLFT3
2014-01-05  libra/real   4.15     LIBFT3
2014-01-06  dolar/real   5.26     DOLFT3
2014-01-06  libra/real   4.23     LIBFT3
2014-01-07  dolar/real   5.55     DOLFT3
2014-01-07  libra/real   4.02     LIBFT3
2014-01-08  dolar/real   5.76     DOLFT3
2014-01-08  libra/real   3.98     LIBFT3

In [31]:
#iloc serve pra selecionar itens através de índices numéricos. 
#Parecido com as listas, mas é preciso usar iloc antes.

#primeira linha
#print(df_cambio.iloc[0, :])

#tres primeiras linhas

#print(df_cambio.iloc[0:3, :])

#primeira coluna
#print(df_cambio.iloc[:, 0])

#primeiro preço do cambio

print(df_cambio.iloc[0, 1])

#primeiro preço do cambio com iat

cambio = df_cambio.iat[0, 1]

print(cambio)

#ultima linha

df_cambio.iloc[-1, :]

5.24
5.24

moeda         libra/real
price               3.98
derivativo        LIBFT3
Name: 2014-01-08 00:00:00, dtype: object

In [35]:
#Substituir dados com loc

#se um ativo mudar o código de negociação?
df_cambio.loc[df_cambio['derivativo'] == "DOLFT3", 'derivativo'] = "DOLFT4"

df_cambio.loc[df_cambio['derivativo'] == "DOLFT4"] = "Zona"

df_cambio

                 moeda price derivativo
2014-01-05        Zona  Zona       Zona
2014-01-05  libra/real  4.15     LIBFT3
2014-01-06        Zona  Zona       Zona
2014-01-06  libra/real  4.23     LIBFT3
2014-01-07        Zona  Zona       Zona
2014-01-07  libra/real  4.02     LIBFT3
2014-01-08        Zona  Zona       Zona
2014-01-08  libra/real  3.98     LIBFT3

# Exercícios 

A partir do DataFrame desenvolvido no exercício 40:

* Exercício 47: Selecione a primeira linha inteira e a primeira coluna inteira com loc.
* Exercício 48: Selecione o preço da weg com iat e com at.
* Exercício 49: Selecione as duas primeiras linhas e todas as colunas com iloc.

In [35]:
dicionario = {
       "nomes": ["Weg", "Petrobras", "Vale", "Petrobras", "Lojas Renner"],
       "tickers": ["WEGE3", "PETR3", "VALE3", "PETR4", "LREN3"],  
       "cotacoes": [20, 30, 40, 12, 35],
       "preco_sobre_lucro": [25, 6, 12, 7, 25],  
       "volume": [5000, 1000, 4000, 7000, 1200]
}

df_info_empresas = pd.DataFrame(dicionario)

df_info_empresas = df_info_empresas.set_index("tickers")

df_info_empresas.columns = ['precos', 'nomes', 'preco_sobre_lucro', 'volume']

df_info_empresas

         precos         nomes  preco_sobre_lucro  volume
tickers
WEGE3        20           Weg                 25    5000
PETR3        30     Petrobras                  6    1000
VALE3        40          Vale                 12    4000
PETR4        12     Petrobras                  7    7000
LREN3        35  Lojas Renner                 25    1200

In [26]:
primeira_linha = df_info_empresas.loc['WEGE3'] 
primeira_coluna = df_info_empresas.loc[:,'nomes']

primeira_linha
primeira_coluna

tickers
WEGE3    20
PETR3    30
VALE3    40
PETR4    12
LREN3    35
Name: nomes, dtype: int64

In [42]:
preço_weg1 = df_info_empresas.at['WEGE3','precos']
preço_weg2 = df_info_empresas.iat[0,1]

preço_weg1  #preço_weg1 = preço_weg2 - Diferentes formas de pegar elas. (uma por nome e outra pro numeros 
                                                                       # de colunas/linhas)
preço_weg2

ValueError: iAt based indexing can only have integer indexers

In [39]:
duas_primeiras_linhas = df_info_empresas.iloc[0:2, :]
duas_primeiras_linhas

         precos      nomes  preco_sobre_lucro  volume
tickers
WEGE3        20        Weg                 25    5000
PETR3        30  Petrobras                  6    1000

In [37]:
#df_base

dicionario = {
       "nomes": ["Weg", "Petrobras", "Vale", "Petrobras", "Lojas Renner"],
       "tickers": ["WEGE3", "PETR3", "VALE3", "PETR4", "LREN3"],  
       "cotacoes": [20, 30, 40, 12, 35],
       "preco_sobre_lucro": [25, 6, 12, 7, 25],  
       "volume": [5000, 1000, 4000, 7000, 1200]
}

df_info_empresas = pd.DataFrame(dicionario)

df_info_empresas = df_info_empresas.set_index("tickers")

df_info_empresas.columns = ['nomes', 'precos', 'preco_sobre_lucro', 'volume']

In [25]:
#gabarito 47

primeira_linha = df_info_empresas.loc["WEGE3"]
primeira_coluna = df_info_empresas.loc[:, "nomes"]

primeira_linha
primeira_coluna

tickers
WEGE3    20
PETR3    30
VALE3    40
PETR4    12
LREN3    35
Name: nomes, dtype: int64

In [36]:
#gabarito 48

preco_weg_at = df_info_empresas.at["WEGE3", "precos"]
preco_weg_iat = df_info_empresas.iat[0, 1] #certeza de uma informação

preco_weg_iat

'Weg'

In [43]:
duas_primeiras_linhas = df_info_empresas.iloc[0:2, :]
duas_primeiras_linhas

             nomes  precos  preco_sobre_lucro  volume
tickers
WEGE3          Weg      20                 25    5000
PETR3    Petrobras      30                  6    1000

# Mundo 6

Agora que você aprendeu a selecionar os dados dentro de uma tabela, chegou a hora de aprender a fazer operações!