# Mundo 6

### Introdução ao Pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
def gerador_serie_historica(valor_inicial, volatilidade, periodos, dia_inicial, frequencia = "M"):
    
    vetor = [valor_inicial]

    for i in range(periodos - 1):

            preco = vetor[i] * (1 + np.random.normal(0, volatilidade))

            vetor.append(preco)


    serie = pd.Series(vetor, index = pd.date_range(dia_inicial, 
                                                   periods = periodos, freq = frequencia)) 
                               
    return serie

In [ ]:
serie_euro = gerador_serie_historica(5, 0.01, 5, "2022-01-01")
serie_cotacoes = gerador_serie_historica(20, 0.05, 5, "2022-01-01")
serie_cotacoes

In [ ]:
serie_euro

In [ ]:
#as operações aritméticas são feitas através dos índices! 

serie_cotacoes_em_euro = serie_cotacoes/serie_euro
serie_cotacoes_em_euro

In [ ]:
serie_lucro = gerador_serie_historica(2, 0.5, 5, "2022-01-01")
serie_cotacoes = gerador_serie_historica(20, 0.05, 5, "2022-01-01")


df = pd.DataFrame({"cotacao": serie_cotacoes,
                 "lucro_por_acao": serie_lucro})

df

In [ ]:
#criando coluna P/L

df['PL'] = df['cotacao']/df['lucro_por_acao']

df

In [ ]:
#pode fazer qualquer operação 

print(df['cotacao'] + df['lucro_por_acao'])
print(df['cotacao'] - df['lucro_por_acao'])
print(df['cotacao'] ** df['lucro_por_acao'])

In [ ]:
#operações dentro de uma mesma coluna

#somar dados de uma coluna

serie_lucro_trimestral = gerador_serie_historica(20000, 2, 4, "2022-01-01", frequencia = "Q")

print(serie_lucro_trimestral)

lucro_anual = serie_lucro_trimestral.sum()
lucro_anual

In [ ]:
#acumular dados de uma coluna

serie_lucro_trimestral = gerador_serie_historica(20000, 2, 4, "2022-01-01", frequencia = "Q")

print(serie_lucro_trimestral)

crescimento_lucros  = serie_lucro_trimestral.cumsum()

crescimento_lucros

In [ ]:
#maior e menor dado de lucro no trimestre

In [ ]:
serie_lucro_trimestral = gerador_serie_historica(20000, 2, 4, "2022-01-01", frequencia = "Q")

print(serie_lucro_trimestral)

lucro_max = serie_lucro_trimestral.max()
lucro_min = serie_lucro_trimestral.min()

print(lucro_min)
lucro_max

# Exercícios 

No dataframe base trabalhado em todas as aulas:

* Exercício 50: Crie uma nova coluna chamada "lucro_por_acao" e calcule o lucro por ação baseado nas informações de PL e preço. Obs: LPA = P/Indicador(PL)
* Exercício 51: Assuma a cotação do dólar como 5.25 e crie a coluna de cotações dolarizadas na tabela.
* Exercício 52: Encontre qual volume total negociado por todas as ações. 
* Exercício 53: Selecione as ações com maior e menor Lucro por ação do dataframe. Dica: use métodos de seleção ensinados na aula passada!

In [4]:
import pandas as pd

dicionario = {
       "nomes": ["Weg", "Petrobras", "Vale", "Petrobras", "Lojas Renner"],
       "tickers": ["WEGE3", "PETR3", "VALE3", "PETR4", "LREN3"],  
       "cotacoes": [20, 30, 40, 12, 35],
       "preco_sobre_lucro": [25, 6, 12, 7, 25],  
       "volume": [5000, 1000, 4000, 7000, 1200]
}

df_info_empresas = pd.DataFrame(dicionario)

df_info_empresas = df_info_empresas.set_index("tickers")

df_info_empresas.columns = ['precos', 'nomes', 'preco_sobre_lucro', 'volume']

In [5]:
df_info_empresas['precos'] = df_info_empresas['precos'].astype(float)
df_info_empresas['preco_sobre_lucro'] = df_info_empresas['preco_sobre_lucro'].astype(float)

df_info_empresas['LPA'] = df_info_empresas['precos'] / df_info_empresas['preco_sobre_lucro']

df_info_empresas

         precos         nomes  preco_sobre_lucro  volume       LPA
tickers
WEGE3      20.0           Weg               25.0    5000  0.800000
PETR3      30.0     Petrobras                6.0    1000  5.000000
VALE3      40.0          Vale               12.0    4000  3.333333
PETR4      12.0     Petrobras                7.0    7000  1.714286
LREN3      35.0  Lojas Renner               25.0    1200  1.400000

In [6]:
#Assuma a cotação do dólar como 5.25 e crie a coluna de cotações dolarizadas na tabela.
dólar = 5.25

df_info_empresas['cot_dólar'] = df_info_empresas['precos'] / dólar

df_info_empresas

         precos         nomes  preco_sobre_lucro  volume       LPA  cot_dólar
tickers
WEGE3      20.0           Weg               25.0    5000  0.800000   3.809524
PETR3      30.0     Petrobras                6.0    1000  5.000000   5.714286
VALE3      40.0          Vale               12.0    4000  3.333333   7.619048
PETR4      12.0     Petrobras                7.0    7000  1.714286   2.285714
LREN3      35.0  Lojas Renner               25.0    1200  1.400000   6.666667

In [7]:
#Encontre qual volume total negociado por todas as ações.
df_info_empresas['volume'].sum()

18200

In [12]:
#Selecione as ações com maior e menor Lucro por ação do dataframe. 

maiorlpa_empresa = df_info_empresas.loc[df_info_empresas['LPA'].idxmax(), 'nomes']

menorlpa_empresa = df_info_empresas.loc[df_info_empresas['LPA'].idxmin(), 'nomes']


print(maiorlpa_empresa)
print(menorlpa_empresa)

Petrobras
Weg

In [ ]:
#df_base

dicionario = {
       "nomes": ["Weg", "Petrobras", "Vale", "Petrobras", "Lojas Renner"],
       "tickers": ["WEGE3", "PETR3", "VALE3", "PETR4", "LREN3"],  
       "cotacoes": [20, 30, 40, 12, 35],
       "preco_sobre_lucro": [25, 6, 12, 7, 25],  
       "volume": [5000, 1000, 4000, 7000, 1200]
}

df_info_empresas = pd.DataFrame(dicionario)

df_info_empresas = df_info_empresas.set_index("tickers")

df_info_empresas.columns = ['nomes', 'precos', 'preco_sobre_lucro', 'volume']

In [ ]:
#gabarito 50

df_info_empresas['lpa'] = df_info_empresas['precos'] / df_info_empresas['preco_sobre_lucro']

df_info_empresas

In [ ]:
#gabarito 51

dolar = 5.25

df_info_empresas['precos_dolar'] = df_info_empresas['precos'] / dolar

df_info_empresas

In [ ]:
#gabarito 52

volume_total = df_info_empresas['volume'].sum()
volume_total

In [ ]:
#gabarito 53

lpa_maximo = df_info_empresas['lpa'].max()
lpa_minimo = df_info_empresas['lpa'].min()

maiorlpa_empresa = df_info_empresas[df_info_empresas['lpa'] == lpa_maximo]
maiorlpa_empresa = maiorlpa_empresa.iat[0, 0]

menorlpa_empresa = df_info_empresas[df_info_empresas['lpa'] == lpa_minimo]
menorlpa_empresa = menorlpa_empresa.iat[0, 0]

print(maiorlpa_empresa)
print(menorlpa_empresa)

# Mundo 7

Na próxima aula vamos aprender a usar duas ferramentas muito úteis no Pandas: Rankings e ordenação. Afinal, como ordenar uma tabela do maior pro menor PL, por exemplo?