# Mundo 23

### Formatação de dados

In [1]:
import pandas as pd
import yfinance as yf

In [3]:
dados_weg = yf.download("WEGE3.SA")['Close']

dados_weg

[*********************100%***********************]  1 of 1 completed

Ticker       WEGE3.SA
Date
2000-01-03   0.118770
2000-01-04   0.114602
2000-01-05   0.114602
2000-01-06   0.104184
2000-01-07   0.104184
...               ...
2025-03-17  47.569633
2025-03-18  47.569633
2025-03-19  48.058804
2025-03-20  47.819210
2025-03-21  47.769295

[6332 rows x 1 columns]

In [ ]:
dados_weg_mensal = dados_weg.resample("M").last()

dados_weg_mensal

In [ ]:
dados_weg_anual = dados_weg.resample("Y").last()

dados_weg_anual

In [ ]:
dados_weg_anual.pct_change()

# Exercícios
<BR>
    
* Exercício 78: Puxe os dados de cotação ajustada da VALE3.SA e:

         - Transforme em cotações mensais
         - Transforme em cotações semanais
         - Transforme em cotações anuais
         - Transforme em cotações de 30 minutos. (Não se importe com os NAs)

In [6]:
#gabarito 78

dados_vale = yf.download("VALE3.SA")['Close']

dados_vale_m = dados_vale.resample("M").last()
dados_vale_w = dados_vale.resample("W").last()
dados_vale_a = dados_vale.resample("Y").last()
dados_vale_30min = dados_vale.resample("30min").last()

dados_vale_w

[*********************100%***********************]  1 of 1 completed
C:\Users\pedro\AppData\Local\Temp\ipykernel_12376\1293772534.py:5: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dados_vale_m = dados_vale.resample("M").last()
C:\Users\pedro\AppData\Local\Temp\ipykernel_12376\1293772534.py:7: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  dados_vale_a = dados_vale.resample("Y").last()

Ticker       VALE3.SA
Date
2000-01-09   1.433055
2000-01-16   1.652228
2000-01-23   1.584790
2000-01-30   1.618509
2000-02-06   1.574674
...               ...
2025-02-23  55.975330
2025-03-02  53.078396
2025-03-09  54.878155
2025-03-16  56.290001
2025-03-23  57.450001

[1316 rows x 1 columns]

In [ ]:
dados_vale_w

# Mundo 24

Por mais que você já tenha visto alguns spoilers, como você pode calcular a rentabilidade de uma ação ao longo do tempo? Veremos isso no mundo 24, nosso primeiro mundo de análise de dados!