# Mundo 12 

### Leitura e extração de dados

https://fred.stlouisfed.org/categories

In [1]:
from pandas_datareader import data as pdr
from datetime import datetime

In [2]:
dado = "GDP"

inicio = "1910-12-31"
final = datetime.now()

dado_fred = pdr.get_data_fred(dado, inicio, final)

dado_fred

                  GDP
DATE
1947-01-01    243.164
1947-04-01    245.968
1947-07-01    249.585
1947-10-01    259.745
1948-01-01    265.742
...               ...
2023-10-01  28296.967
2024-01-01  28624.069
2024-04-01  29016.714
2024-07-01  29374.914
2024-10-01  29719.647

[312 rows x 1 columns]

In [ ]:
dado = "GCT1502US" #quantos % da população americana acima de 25 anos completou faculdade 

inicio = "1910-12-31"
final = datetime.now()

dado_fred = pdr.get_data_fred(dado, inicio, final)

dado_fred

In [5]:
import sys
print(sys.executable)

c:\Users\pedro\Anaconda3\python.exe

In [ ]:
dado = "TB3MS" #yield de 3 meses americano 

inicio = "1910-12-31"
final = datetime.now()

dado_fred = pdr.get_data_fred(dado, inicio, final)

dado_fred

In [ ]:
dado_fred.plot()

# Exercícios 

* Exercício 61: Puxe os dados da inflação americana (CPI) desde o início da série de dados no FRED.

In [ ]:
dado = "CPIAUCSL"

inicio = "1910-12-31"
final = datetime.now()

dado_fred = pdr.get_data_fred(dado, inicio, final)

dado_fred

In [ ]:
#Gabarito 61
#CPILFESL
dado = "CPIAUCSL"

inicio = "1910-12-31"
final = datetime.now()

dado_fred = pdr.get_data_fred(dado, inicio, final)

dado_fred

# Mundo 13

Bom, você aprendeu a pegar dados econômicos dos EUA. Mas que tal pegar dados do mundo inteiro?